name: Publish to Docker
on:
  push:
    branches:
      - main
permissions:
  packages: write
  contents: read
env:
  REGISTRY_IMAGE: ghcr.io/mkilikrates/terragrunt-terraform-tofu
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Add your test steps here if needed...
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          # tags: type=sha
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
          flavor: |
            latest=true
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: terragrunt-terraform-tofu.dockerfile
          context: "{{defaultContext}}:Docker/tools/Docker"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  cleanup:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Login to GitHub Container Registry with PAT_TOKEN
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete all containers from repository without tags
        uses: actions/delete-package-versions@v5
        with:
          owner: ${{ github.repository_owner }}
          package-name: 'terragrunt-terraform-tofu'
          package-type: 'container'
          token: ${{ secrets.GITHUB_TOKEN }}
          # min-versions-to-keep: 1
          delete-only-untagged-versions: 'true'