name: Publish to Docker
on:
  push:
    branches:
      - main
permissions:
  packages: write
  contents: read
  attestations: write
  id-token: write
env:
  REGISTRY: ghcr.io
  REGISTRY_IMAGE: ${{ github.repository_owner }}/terragrunt-terraform-tofu
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Add your test steps here if needed...
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY}}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
          # tags: type=sha
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
          flavor: |
            latest=true
      - name: Validate build configuration
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: terragrunt-terraform-tofu.dockerfile
          context: "{{defaultContext}}:Docker/tools/Docker"
          call: check
      - name: Build container
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: terragrunt-terraform-tofu.dockerfile
          context: "{{defaultContext}}:Docker/tools/Docker"
          push: true
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}:buildcache,mode=max
      - name: Inspect
        run: |
          docker image inspect ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}:latest
  cleanup:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Login to GitHub Container Registry with PAT_TOKEN
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete all containers from repository without tags
        uses: actions/delete-package-versions@v5
        with:
          owner: ${{ github.repository_owner }}
          package-name: 'terragrunt-terraform-tofu'
          package-type: 'container'
          token: ${{ secrets.GITHUB_TOKEN }}
          # min-versions-to-keep: 1
          delete-only-untagged-versions: 'true'